.action-button-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

.action-button {
	width: 48%;
	height: 70px;
	flex-shrink: 0;
	border-radius: 10px;
	border: 1px solid #D6D6D6;
	background: #F6F6F6;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}

.action-button-icon {
  width: 46px;
	height: 46px;
	flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.action-button-content {
	width: 70%;
	margin: 0;
	color: #000;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.action-button-recommend .action-button-icon {
  background-image: url('/public/images/recommend.png');
}

.action-button-vote .action-button-icon {
  background-image: url('/public/images/vote-together.png');
}

