.vote-detail-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.vote-detail-page-body {
	margin-top: 60px; /* Adjust this value to match the height of VoteHeader */
  overflow-y: auto;
  flex-grow: 1;

  padding-left: 10px;
  padding-right: 10px;
}

.vote-detail-page h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.vote-detail-page p {
  font-size: 1.2em;
}
